<manifest
    package="com.hinsty.traffic"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:installLocation="internalOnly"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        <receiver android:name=".ShutdownReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BootReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.TrafficService"
            android:process="com.hinsty.traffic.service"
            android:permission="android.permission.CHANGE_CONFIGURATION"/>

        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/icon"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".chart.ChartActivity"
            android:launchMode="singleInstance">

        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/setting"
            android:launchMode="singleInstance">

        </activity>

        <activity
            android:name=".report.MonthReportActivity"
            android:label="@string/month_report"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".report.DayReportActivity"
            android:label="@string/day_report"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".AboutActivity"
            android:launchMode="singleInstance"/>
    </application>

</manifest>